#Partajare{
position: absolute;
width: 659px;
height: 133px;
left: 55px;
top: 288px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 900 !important;
font-size: 43px;
line-height: 121.1%;
/* or 52px */

text-align: center;

color: #252F65;

}
#Platforma{
    position: absolute;
width: 535px;
height: 53px;
left: 104px;
top: 406px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #252F65;
}
#mainImage{
 position: absolute;
width: 647px;
height: 647px;
left: 694px;
top: 78px;

}
#BunicButon{
    position: absolute;
width: 286px;
height: 65px;
left: 228px;
top: 479px;

}
#ParentButon{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #6F3096;
border-radius: 5px;
}
#textId{
    position: absolute;
left: 17.83%;
right: 17.48%;
top: 30.77%;
bottom: 18.46%;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #FFFFFF;
}
#NavImg{
position: absolute;
width: 197px;
height: 56px;
left: 45px;
top: 50px;
}
#Login{
    position: absolute;
left: 0%;
right: 66.17%;
top: 0%;
bottom: 0%;

font-family: 'Merriweather';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 25px;

color: #06114F;

}
#Creare{
    position: absolute;
left: 44.28%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Merriweather';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 25px;

color: #06114F;
}
#RecMov{
    position: absolute;
width: 1469px;
height: 673px;
left: -4px;
top: 786px;

background: #6F3096;
}
#RecAlb{
    position: absolute;
width: 945px;
height: 458px;
left: 242px;
top: 897px;

background: #FFFFFF;
box-shadow: 0px 10px 30px rgba(38, 50, 56, 0.5);
border-radius: 21px;
}
#Tupeu{
    position: absolute;
width: 389px;
height: 125px;
left: 290px;
top: 1004px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 121.1%;
/* or 39px */


color: #252F65;

}
#TrimiteMail{
    position: absolute;
width: 333px;
height: 90px;
left: 290px;
top: 1101px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 121.1%;
/* or 27px */


color: #252F65;

}
#Descriere{
    position: absolute;
width: 103.38px;
height: 19.49px;
left: 743.4px;
top: 972px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

color: #06114F;

}
#Informatii{
    box-sizing: border-box;

position: absolute;
width: 353.68px;
height: 40.42px;
left: 743.54px;
top: 996.88px;

border: 1px solid #06114F;
border-radius: 5px;
}
#Formate{
    position: absolute;
width: 246.23px;
height: 34.61px;
left: 743.15px;
top: 1061.38px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

color: #06114F;
   
}
#MostViewed{
    position: absolute;
width: 231px;
height: 45px;
left: 69px;
top: 1526px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;
text-align: center;
}
#Trade{
    position: absolute;
width: 418px;
height: 369px;
top: 1633px;
background: url(imagini/trade.png);
border-radius: 55px;
}
#Uno{
    position: absolute;
width: 412px;
height: 364px;
left: 503px;
top: 1634px;

background: url(imagini/uno.png);
border-radius: 53px;
}
#Taskuri{
    position: absolute;
width: 418px;
height: 363px;
left: 968px;
top: 1635px;

background: url(imagini/15+taskuri.png);
border-radius: 46px;
}
#Footer{
    position: absolute;
width: 1496px;
height: 174px;
left: -39px;
top: 2051px;

background: #06114F;
}
#Insta{
    position: absolute;
width: 21px;
height: 24px;
left: 601px;
top: 2094px;

background: url(imagini/insta.png);
}
#Twitch{
    position: absolute;
width: 21px;
height: 24px;
left: 701px;
top: 2094px;

background: url(imagini/twitch.png);
}
#Facebook{
    position: absolute;
width: 21px;
height: 24px;
left: 801px;
top: 2094px;

background: url(imagini/facebook.png);
}
#Copyright{
    position: absolute;
width: 1440px;
height: 52px;
left: -11px;
top: 2135px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 121.1%;
/* or 24px */

text-align: center;

color: #FFFFFF;
}
#Group4{
    position: absolute;
width: 201px;
height: 25px;
left: 1140px;
top: 66px;

}
#HeaderLogin{
position: absolute;
width: 488px;
height: 49px;
left: 0px;
top: 0px;

background: #FFFFFF;
}
#ImgLogin{
    position: absolute;
width: 108px;
height: 31px;
left: 32px;
top: 22px;

background: url(imagini/memeit.png);
}
#CloseLogin{
    position: absolute;
left: 87.5%;
right: 7.38%;
top: 3.28%;
bottom: 92.82%;

background: #252F65;
}
#BodyLogin{
    position: absolute;
width: 519px;
height: 673px;
left: -14px;
top: 66px;

background: #6F3096;
}
#BoxLogin{
    box-sizing: border-box;

position: absolute;
left: 9.63%;
right: 10.45%;
top: 18.88%;
bottom: 7.64%;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
#WelcomeLogin{
    position: absolute;
width: 418px;
height: 27px;
left: 125px;
top: 186px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;

color: #6F3096;
}
#UsernameLogin{
    position: absolute;
width: 106.08px;
height: 20px;
left: 94px;
top: 265px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

color: #252F65;
}
#FormUserLogin{
    box-sizing: border-box;

position: absolute;
width: 296px;
height: 41px;
left: 94px;
top: 291px;

border: 1px solid #252F65;
border-radius: 5px;
}
#PasswordLogin{
    position: absolute;
width: 104.55px;
height: 19.71px;
left: 94px;
top: 348px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

color: #252F65;
}
#FormPassLogin{
    box-sizing: border-box;

position: absolute;
width: 296px;
height: 41px;
left: 94px;
top: 373px;

border: 1px solid #252F65;
border-radius: 5px;
}
#PopLoginButon{
    
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #6F3096;
border-radius: 5px;
}
#LoginTextButon{
    position: absolute;
left: 11.36%;
right: 12.5%;
top: 27.22%;
bottom: 22.78%;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF
}
#HeaderRegister{
    position: absolute;
width: 488px;
height: 49px;
left: 0px;
top: 0px;

background: #FFFFFF;
}
#ImgRegister{
    position: absolute;
width: 108px;
height: 31px;
left: 30px;
top: 21px;

background: url(imagini/memeit.png);
}
#CloseRegister{
    position: absolute;
left: 87.5%;
right: 7.38%;
top: 3.28%;
bottom: 92.82%;

background: #252F65;
}
#BodyRegister{
    position: absolute;
width: 519px;
height: 673px;
left: -14px;
top: 66px;

background: #6F3096;
}
#BoxRegister{
    box-sizing: border-box;

position: absolute;
left: 9.63%;
right: 10.45%;
top: 18.88%;
bottom: 7.64%;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
#WelcomeRegister{
    position: absolute;
width: 418px;
height: 27px;
left: 167px;
top: 168px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;

color: #6F3096;
}
#UsernameRegister{
    position: absolute;
    width: 106.08px;
    height: 20px;
    left: 94px;
    top: 225px;
    
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    color: #252F65;
       
}
#FormUserRegister{
    box-sizing: border-box;

position: absolute;
width: 296px;
height: 41px;
left: 94px;
top: 251px;

border: 1px solid #252F65;
border-radius: 5px;
}
#EmailRegister{
    position: absolute;
width: 106.08px;
height: 20px;
left: 94px;
top: 304px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

color: #252F65;
}
#FormEmailRegister{
    box-sizing: border-box;

position: absolute;
width: 296px;
height: 41px;
left: 94px;
top: 330px;

border: 1px solid #252F65;
border-radius: 5px;
}
#PasswordRegister{
    position: absolute;
width: 104.55px;
height: 19.71px;
left: 94px;
top: 381px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

color: #252F65;
}
#FormPassRegister{
    box-sizing: border-box;

position: absolute;
width: 296px;
height: 41px;
left: 94px;
top: 406px;

border: 1px solid #252F65;
border-radius: 5px;
}
#input-file-max-fs{position: absolute;
width: 345px;
height: 258px;
left: 742px;
top: 1097px;

background: #FFFFFF;
box-shadow: 0px 10px 30px rgba(38, 50, 56, 0.5);
border-radius: 21px;
}